.chat
    .list
        .msg-container
            .well
                b Nickname
                p Message....
            .well
                b Nickname
                p Message....
            .well
                b Nickname
                p Message....
    .send-form
        textarea#chat-input.form-control(rows='3')
        .send
            .spacer
            +button('chat-send', 'Отправить')