extends root

block top-menu
    include top-menu

block content
    .information
        h3.hidden-xs Stalker EXT - это пошаговая онлайн рпг
        h4.visible-xs Stalker EXT - это пошаговая онлайн рпг
        p
            | ...исследуй зону отчуждения,
            |  ищи артефакты, уничтожай мутантов и участвуй в дуэлях с другими сталкерами...
        br
        .btn-group-lg
            +button-show-modal('register-show-pc', 'Регистрация', 'register-window').btn-lg.hidden-xs.hidden-sm
            +button-show-modal('register-show', 'Регистрация', 'register-window').btn-lg.visible-xs.visible-sm.btn-block
            +button-show-modal('register-show', 'Войти', 'sign-window').btn-lg.visible-xs.visible-sm.btn-block
        img.logo.hidden-xs.hidden-sm(src='img/st-ext.svg')

    - var id = 'register-window'
    +window(id)
        +window-header(id, 'Регистрация')
        +window-body(id)
            +input('mail-register', 'email', 'Почта')
            +input('login-register', 'text', 'Логин')
            +input('pass-register', 'password', 'Пароль')
        +window-footer(id)
            +button('register', 'Зарегистрироваться')

    - var id = 'sign-window'
    +window(id)
        +window-header(id, 'Вход')
        +window-body(id)
            +input('login-modal', 'text', 'Логин')
            +input('pass-modal', 'password', 'Пароль')
        +window-footer(id)
            +button('sign-modal', 'Войти')