extends root

block content
    .information
        h3.hidden-xs Stalker EXT - это пошаговая онлайн рпг
        h4.visible-xs Stalker EXT - это пошаговая онлайн рпг
        p
            | ...исследуй зону отчуждения,
            |  ищи артефакты, уничтожай мутантов и участвуй в дуэлях с другими сталкерами...
        br
        .btn-group-lg
            +button-show-modal('register-show-pc', 'Регистрация', 'register-window').btn-lg.hidden-xs.hidden-sm
            +button-show-modal('register-show', 'Регистрация', 'register-window').btn-lg.visible-xs.visible-sm.btn-block
            +button-show-modal('register-show', 'Войти', 'sign-window').btn-lg.visible-xs.visible-sm.btn-block
        img.logo.hidden-xs.hidden-sm(src='img/st-ext.svg')

    +window('register-window')
        block title
            | Регистрация

        block body
            +input('mail-register', 'email', 'Почта')
            +input('login-register', 'text', 'Логин')
            +input('pass-register', 'password', 'Пароль')

        block footer
            +button('register', 'Зарегистрироваться')

    +window('sign-window')
        block title
            | Вход

        block body
            +input('login-modal', 'text', 'Логин')
            +input('pass-modal', 'password', 'Пароль')

        block footer
            +button('sign-modal', 'Войти')