extends root

mixin news(name, date)
    .row
        .col-md-12.col-lg-6.col-lg-offset-4
            h3= name
            span.label.label-default.pull-right= date
            .well
                block

block scripts
    script(src='js/auth.js')

block top-menu
    include top-menu

block content
    +news('Альфа-версия', '26.05.2017')
        p.
            Если вы читаете эту новость, а других новостей нет - значит вы попали в альфа-версию
            игры Stalker EXT. Этот сайт пока лишь презентация того факта что проект в процессе
            разработки и тут можно почитать об этом обо всем.
        p.
            Пока регистрация ещё закрыта, однако сам сайт, вот он, уже работает. Часть функционала
            тестируется вот прямо сейчас. Но это закрытый тест, пока в рамках разработки. Однако,
            в один из дней будущего начнется закрытый альфа, а потом и бета-тест игры, в котором
            сможете принять участие и вы.
        p.
            До скорых встреч, сталкер!