extends root

block scripts
    script(src='js/auth.js')

block top-menu
    include top-menu

block content
    .row
        .col-md-6.col-md-offset-4
            h3 Благодарности
            .well
                p Хотелось бы выразить благодарности всем кто причастен к проекту.
                p.
                    Во-первых, конечно же компании GSC, что создала для нас S.T.A.L.K.E.R -
                    легендарную игру, на основе которой и появилась эта простенькая фанатская
                    поделка Stalker EXT.
                p.
                    Во-вторых, товарищу под ником Лесник, который основал сайт Сталкерская Сеть,
                    так или иначе он был первым, а я, Format-X22, лишь присоединился после. Ну и конечно
                    товарищу Осколку, про которого мало кто слышал, но он был id #2 и много чем помог
                    сайту в самом начале. Без Сталкерской Сети (СнС) вряд ли бы что-то сейчас было.
                p.
                    В-третьих, человеку под ником STRELOK1 и сайту ru.stalker.wikia.com за картинки
                    что я использую в игре. Я стер копирайты с самих картинок так как они не очень
                    вписывались в интерфейс игры, но я не мог не поблагодарить авторов здесь в этом
                    разделе сайта, ведь они, по сути, приняли в разработке непосредственное участие.
                p.
                    В-четвертых, нынешней администрации СнС и тем пользователям что всё ещё посещают
                    сайт не смотря на то что прошло столько лет. За их неугасающий интерес к игре,
                    к миру S.T.A.L.K.E.R, что побудило меня всё-таки написать эту игру.
                p.
                    Ну и в-пятых, инвестициям в перспектиные криптовалютные проекты, сделавшие меня
                    миллионером и позволившие мне заниматься чем я захочу, включая разработку игры
                    ради развлечения.